streamlit==1.31.0
requests==2.31.0
python-dotenv==1.0.1


psycopg2-binary==2.9.9


pandas==2.2.0

langchain==0.2.6
langgraph==0.0.40
langchain-openai==0.1.14
langchain-community==0.2.6


openai==1.35.10

faiss-cpu==1.8.0
tiktoken==0.7.0

pydantic==2.7.1
numpy==1.26.4